.forgotPassword {
    margin-top: 16px;
}

.forgotPassword a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.forgotPassword:hover {
    text-decoration: underline;
}